In [18]:
# Dependencies and Setup
import pandas as pd


# File to Load (Remember to Change These)
crime_data= "Resources/crime.csv"
education_data = "Resources/education.csv"
ethnicity_data = "Resources/ethnicity.csv"
unemployment_data = "Resources/unemployment.csv"
population_data = "Resources/population.csv"


# Read School and Student Data File and store into Pandas Data Frames
crime = pd.read_csv(crime_data)
education = pd.read_csv(education_data)
ethnicity = pd.read_csv(ethnicity_data)
unemployment = pd.read_csv(unemployment_data)
population = pd.read_csv(population_data)

In [19]:
# Clean data sets and create dataframes

ethnicity_df = pd.DataFrame(ethnicity)
ethnicity_df.drop(['American Indian/Alaska Native', 'Native Hawaiian/Other Pacific Islander', 'Two Or More Races'], axis=1, inplace=True)
ethnicity_df.drop([52,53,54], axis=0)

ethnicity_df['White']= (ethnicity_df['White'].astype('object'))
ethnicity_df['Hispanic']= (ethnicity_df['Hispanic'].astype('object'))
ethnicity_df['Asian']= (ethnicity_df['Asian'].astype('object'))
ethnicity_df.dtypes

State       object
White       object
Black       object
Hispanic    object
Asian       object
dtype: object

In [20]:
population_df = pd.DataFrame(population)
population_df.drop([52], axis=0, inplace=True)
#rename column 2010
population_df.rename(columns={"2010": "Population", "state": "State"}, inplace=True)
#population_df['Population']= (population_df['Population'].astype('float'))
population_df.dtypes

State         object
Population    object
dtype: object

In [21]:
unemployment_df = pd.DataFrame(unemployment)
unemployment_df.rename(columns={"2010": "Unemployment Rate"}, inplace=True)
unemployment_df.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Resource:', 'https://data.bls.gov/lausmap/showMap.jsp'], axis=1, inplace=True)
unemployment_df['Unemployment Rate']= (unemployment_df['Unemployment Rate'].astype('object'))
unemployment_df['State']=(unemployment_df["State"].replace('\t','', regex=True))

In [22]:
education_df = pd.DataFrame(education)
education_df
education_df.drop([0, 1,2, 54, 55, 56], inplace=True)
education_df.drop(columns=["Percent high school graduate or higher.1", "Percent bachelor's degree or higher.1"], axis=1, inplace=True)
education_df.rename(columns={"Unnamed: 0": "State"}, inplace=True)

In [23]:
crime_df = pd.DataFrame(crime)

# Drop rows and columns
crime_df.drop(columns=['Unnamed: 7', 'Unnamed: 8', 'Resource:', 'https://www.infoplease.com/us/crime/crime-rate-state-2010'], axis=1, inplace=True)
crime_df.drop([0,1], axis=0, inplace=True)
crime_df = crime_df[['State','Total']]
crime_df['Total']= (crime_df['Total'].astype('object'))

# Rename Total column
crime_df.rename(columns={'Total': 'Crime Rate'}, inplace=True)

In [24]:
# Combine dataframes to create one dataframe table

# Combine population and unemployment
data_complete = pd.merge(population_df, unemployment_df, how="inner", on=["State"])
data_complete

                   State  Population Unemployment Rate
0                Alabama   4,785,579              10.3
1                 Alaska     714,015               7.8
2                Arizona   6,407,002               9.9
3               Arkansas   2,921,737               8.4
4             California  37,327,690              12.2
5               Colorado   5,048,029               8.9
6            Connecticut   3,580,171               9.3
7               Delaware     899,712                 8
8   District of Columbia     605,040               9.5
9                Florida  18,846,461              10.8
10               Georgia   9,712,696              10.6
11                Hawaii   1,363,817               6.8
12                 Idaho   1,570,912               8.8
13              Illinois  12,841,196               9.5
14               Indiana   6,490,029               9.4
15                  Iowa   3,050,223               5.8
16                Kansas   2,858,403                 7
17              Kentucky   4,347,948                10
18             Louisiana   4,544,871               8.3
19                 Maine   1,327,568               8.1
20              Maryland   5,788,099               7.5
21         Massachusetts   6,564,943               7.8
22              Michigan   9,876,731              11.3
23             Minnesota   5,310,711               7.1
24           Mississippi   2,970,437              10.1
25              Missouri   5,995,681               9.4
26               Montana     990,507               7.3
27              Nebraska   1,829,956               4.5
28                Nevada   2,702,797              13.6
29         New Hampshire   1,316,700               5.5
30            New Jersey   8,803,708               9.5
31            New Mexico   2,064,607               7.8
32              New York  19,405,185               8.4
33        North Carolina   9,574,247              10.4
34          North Dakota     674,518               3.6
35                  Ohio  11,539,282               9.5
36              Oklahoma   3,759,529               6.4
37                Oregon   3,837,073              10.1
38          Pennsylvania  12,711,063                 8
39          Rhode Island   1,053,169              11.1
40        South Carolina   4,635,834              10.8
41          South Dakota     816,227                 5
42             Tennessee   6,355,882               9.5
43                 Texas  25,241,648               8.1
44                  Utah   2,775,260               7.6
45               Vermont     625,842               5.9
46              Virginia   8,025,206               6.8
47            Washington   6,741,386               9.7
48         West Virginia   1,854,315               8.8
49             Wisconsin   5,690,403               8.1
50               Wyoming     564,376               6.2
51           Puerto Rico   3,721,525                16

In [25]:
# Combine data_complete and education_Df
data_complete = pd.merge(data_complete, education_df, how="inner", on=["State"])

In [26]:
# Combine data_complete and ethnicity_df
data_complete = pd.merge(data_complete, ethnicity_df, how="inner", on=["State"])
data_complete

,State,Population,Unemployment Rate,Percent high school graduate or higher,Percent bachelor's degree or higher,White,Black,Hispanic,Asian
0,Alabama,"4,785,579",10.3,82.1,21.9,0.67,0.26,0.04,0.01
1,Alaska,"714,015",7.8,91,27.9,0.64,0.03,0.06,0.05
2,Arizona,"6,407,002",9.9,85.6,25.9,0.58,0.04,0.3,0.03
3,Arkansas,"2,921,737",8.4,82.9,19.5,0.75,0.16,0.06,0.01
4,California,"37,327,690",12.2,80.7,30.1,0.4,0.06,0.38,0.13
5,Colorado,"5,048,029",8.9,89.7,36.4,0.7,0.04,0.21,0.03
6,Connecticut,"3,580,171",9.3,88.6,35.5,0.71,0.09,0.14,0.04
7,Delaware,"899,712",8,87.7,27.8,0.66,0.21,0.08,0.03
8,District of Columbia,"605,040",9.5,87.4,50.1,0.34,0.52,0.09,0.03
9,Florida,"18,846,461",10.8,85.5,25.8,0.58,0.15,0.23,0.02
10,Georgia,"9,712,696",10.6,84.3,27.3,0.56,0.3,0.09,0.03
11,Hawaii,"1,363,817",6.8,89.9,29.5,0.22,0.01,0.09,0.39
12,Idaho,"1,570,912",8.8,88.3,24.4,0.84,0.01,0.11,0.01
13,Illinois,"12,841,196",9.5,86.9,30.8,0.64,0.14,0.16,0.05
14,Indiana,"6,490,029",9.4,87,22.7,0.82,0.09,0.06,0.02
15,Iowa,"3,050,223",5.8,90.6,24.9,0.89,0.03,0.05,0.02
16,Kansas,"2,858,403",7,89.2,29.8,0.78,0.05,0.11,0.02
17,Kentucky,"4,347,948",10,81.9,20.5,0.87,0.08,0.03,0.01
18,Louisiana,"4,544,871",8.3,81.9,21.4,0.61,0.32,0.04,0.02
19,Maine,"1,327,568",8.1,90.3,26.8,0.95,0.01,0.01,0.01
20,Maryland,"5,788,099",7.5,88.1,36.1,0.55,0.29,0.08,0.06
21,Massachusetts,"6,564,943",7.8,89.1,39,0.76,0.06,0.1,0.05
22,Michigan,"9,876,731",11.3,88.7,25.2,0.77,0.14,0.04,0.02
23,Minnesota,"5,310,711",7.1,91.8,31.8,0.83,0.05,0.05,0.04
24,Mississippi,"2,970,437",10.1,81,19.5,0.58,0.37,0.02,0.01
25,Missouri,"5,995,681",9.4,86.9,25.6,0.81,0.11,0.04,0.02
26,Montana,"990,507",7.3,91.7,28.8,0.88,<.01,0.03,0.01
27,Nebraska,"1,829,956",4.5,90.4,28.6,0.82,0.04,0.09,0.02
28,Nevada,"2,702,797",13.6,84.7,21.7,0.54,0.08,0.27,0.07
29,New Hampshire,"1,316,700",5.5,91.5,32.8,0.92,0.01,0.03,0.02
30,New Jersey,"8,803,708",9.5,88,35.4,0.59,0.13,0.18,0.08
31,New Mexico,"2,064,607",7.8,83.3,25,0.41,0.02,0.47,0.01
32,New York,"19,405,185",8.4,84.9,32.5,0.58,0.14,0.18,0.07
33,North Carolina,"9,574,247",10.4,84.7,26.5,0.65,0.21,0.09,0.02
34,North Dakota,"674,518",3.6,90.3,27.6,0.89,0.01,0.02,0.01
35,Ohio,"11,539,282",9.5,88.1,24.6,0.81,0.12,0.03,0.02
36,Oklahoma,"3,759,529",6.4,86.2,22.9,0.69,0.07,0.09,0.02
37,Oregon,"3,837,073",10.1,88.8,28.8,0.79,0.02,0.12,0.04
38,Pennsylvania,"12,711,063",8,88.4,27.1,0.8,0.1,0.06,0.03
39,Rhode Island,"1,053,169",11.1,83.5,30.2,0.76,0.05,0.13,0.03
40,South Carolina,"4,635,834",10.8,84.1,24.5,0.64,0.28,0.05,0.01
41,South Dakota,"816,227",5,89.6,26.3,0.85,0.01,0.03,0.01
42,Tennessee,"6,355,882",9.5,83.6,23.1,0.76,0.17,0.05,0.01
43,Texas,"25,241,648",8.1,80.7,25.9,0.45,0.11,0.38,0.04
44,Utah,"2,775,260",7.6,90.6,29.3,0.8,0.01,0.13,0.02
45,Vermont,"625,842",5.9,91,33.6,0.95,0.01,0.02,0.01
46,Virginia,"8,025,206",6.8,86.5,34.2,0.65,0.19,0.08,0.06
47,Washington,"6,741,386",9.7,89.8,31.1,0.73,0.03,0.11,0.07
48,West Virginia,"1,854,315",8.8,83.2,17.5,0.94,0.03,0.01,0.01
49,Wisconsin,"5,690,403",8.1,90.1,26.3,0.84,0.06,0.06,0.02
50,Wyoming,"564,376",6.2,92.3,24.1,0.86,0.01,0.09,0.01

In [27]:
# Combine data_complete and crime_df
data_complete = pd.merge(data_complete, crime_df, how="inner", on=["State"])
data_complete['Year'] = '2010'
ETL_data = data_complete[["Year", "State", "Population", "Unemployment Rate", "Crime Rate", "Percent high school graduate or higher", "Percent bachelor's degree or higher", "White", "Black", "Hispanic", "Asian"]]


ETL_data.head()

,Year,State,Population,Unemployment Rate,Crime Rate,Percent high school graduate or higher,Percent bachelor's degree or higher,White,Black,Hispanic,Asian
0,2010,Alabama,"4,785,579",10.3,755.5,82.1,21.9,0.67,0.26,0.04,0.01
1,2010,Alaska,"714,015",7.8,1277.6,91,27.9,0.64,0.03,0.06,0.05
2,2010,Arizona,"6,407,002",9.9,816.2,85.6,25.9,0.58,0.04,0.3,0.03
3,2010,Arkansas,"2,921,737",8.4,1010.6,82.9,19.5,0.75,0.16,0.06,0.01
4,2010,California,"37,327,690",12.2,881.3,80.7,30.1,0.4,0.06,0.38,0.13

In [28]:
ETL_data = ETL_data.rename(columns={"Year": "year", "State": "state", "Population": "population", "Unemployment Rate": "unemployment_rate", 
                                   "Crime Rate": "crime_rate", "Percent high school graduate or higher": "percent_high_school_graduate_or_higher", 
                                   "Percent bachelor's degree or higher": "percent_bachelors_degree_or_higher", 
                                    "White": "white", "Black": "black", "Hispanic": "hispanic", "Asian": "asian"})
ETL_data.head()

,year,state,population,unemployment_rate,crime_rate,percent_high_school_graduate_or_higher,percent_bachelors_degree_or_higher,white,black,hispanic,asian
0,2010,Alabama,"4,785,579",10.3,755.5,82.1,21.9,0.67,0.26,0.04,0.01
1,2010,Alaska,"714,015",7.8,1277.6,91,27.9,0.64,0.03,0.06,0.05
2,2010,Arizona,"6,407,002",9.9,816.2,85.6,25.9,0.58,0.04,0.3,0.03
3,2010,Arkansas,"2,921,737",8.4,1010.6,82.9,19.5,0.75,0.16,0.06,0.01
4,2010,California,"37,327,690",12.2,881.3,80.7,30.1,0.4,0.06,0.38,0.13

In [29]:
ETL_data.dtypes

year                                      object
state                                     object
population                                object
unemployment_rate                         object
crime_rate                                object
percent_high_school_graduate_or_higher    object
percent_bachelors_degree_or_higher        object
white                                     object
black                                     object
hispanic                                  object
asian                                     object
dtype: object

In [38]:
#Create database connection

from sqlalchemy import create_engine

In [39]:
connection_string = "postgres:postgres@localhost:5432/etl_project"
engine = create_engine(f'postgresql://{connection_string}')

In [40]:
# Confirm tables
engine.table_names()

['etl_data']

In [41]:
#Load DataFrame into database
ETL_data.to_sql(name='etl_data', con=engine, if_exists='append', index=True)